{% extends 'base.html' %}
{% block title%}
About
{% endblock %}
{%block content%}
<h1 class="text-center">About us</h1>
<hr>

<div class="text-center border-bottom border-3 pb-3 mb-4 ">
<p>Our Hospital Management System is designed to revolutionize healthcare administration by streamlining operations, enhancing efficiency, and improving patient care. Built with a user-centric approach, this system integrates all aspects of hospital management, including patient records, appointment scheduling, billing, inventory management, and staff coordination, into a seamless, easy-to-use platform.  

    Our mission is to empower healthcare institutions to focus on what truly matters: delivering quality care to patients. By providing a robust and secure solution, we aim to reduce administrative burdens, minimize errors, and ensure smooth communication across departments. Whether you're managing a small clinic or a multi-specialty hospital, our system adapts to your needs, enabling scalable and reliable operations.  With an emphasis on data security, compliance, and efficiency, we are committed to redefining healthcare management, one institution at a time.</p>
</div>


{% endblock %}