{% extends 'base.html' %}
{% block title%}
Contact
{% endblock %}
{%block content%}
<h1 class="text-center">Contact US</h1>
<hr>

<div class="text-center border-bottom border-1 pb-1 mb-1">
    <p>We are here to support you in managing your healthcare operations more efficiently. Reach out to us for any inquiries, technical assistance, or to learn more about our Hospital Management System.  

<br>
<br>
<h4 class="text-center">
    Email: support@hospitalsk.com  
<br>
    Phone: 123456789
<br>
    Address: 123 Healthcare Lane, MedCity, State, ZIP Code 
<br> 
    Website: [www.hospitalms.com](http://www.hospitalms.com)  
</h4>
<br>
<br>
        
Feel free to connect with us for personalized demonstrations, consultations, or troubleshooting. Your feedback and queries are always welcome as we strive to improve our services and meet your expectations.</p>
{% endblock %}